Connected to .venv (Python 3.13.7)

In [2]:
import pandas as pd

In [3]:
filename = "/Users/marlenebargou/Downloads/hourly-pageviews-20251001-000000.tsv"

In [4]:
df = pd.read_csv(
    filename,
    sep=" ",
    header=None,
    names=["project", "page_title", "views", "bytes"],
    dtype={"project": str, "page_title": str, "views": int, "bytes": int},
    engine="c",
)

In [5]:
en_df = df[df["project"] == "en"]

In [14]:
en_df.sort_values(by="views", ascending=False)

        project                 page_title  views  bytes
1190104      en                  Main_Page  96415      0
1472960      en             Special:Search  18549      0
956785       en              Google_Chrome  10406      0
929392       en                       Fuck   5689      0
1330124      en               Pete_Hegseth   4193      0
...         ...                        ...    ...    ...
1608977      en            US_Saint_Pierre      1      0
1608976      en  US_Saint-Pierre-des-Corps      1      0
1608975      en              US_Saint-Omer      1      0
1608974      en      US_Saint-Malo_(women)      1      0
1704918      en                          ðŸ¥°      1      0

[1184804 rows x 4 columns]

In [ ]:
# Number of page views per project
df.groupby("project")['views'].sum().sort_values(ascending=False)

project
en.m       5959444
en         3092228
ja.m        701459
es.m        637343
it.d        387708
            ...
cho.m            1
api.m.m          1
rm.b             1
gor.m.q          1
to.m.d           1
Name: views, Length: 1941, dtype: int64

In [ ]:
# Number of pages viewed per project
df['project'].value_counts()

project
en        1184804
en.m      1140710
es.m       202612
ja.m       201105
ja         143043
           ...
bg.m.n          1
mk.m.b          1
pi.m.d          1
guw.m           1
kw.m.q          1
Name: count, Length: 1941, dtype: int64